@page
@model ChangePasswordModel
@{
    Layout = "_LayoutSettings";
    ViewData["Title"] = "Mot de passe";

}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="login-form-bg h-100 mt-4">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="index.html"> <h4>Changer votre mot de passe</h4></a>
                            <form id="change-password-form" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.OldPassword" class="form-label"></label>
                                    <div class="form-group">
                                        <input asp-for="Input.OldPassword" class="form-control input-default" autocomplete="current-password" aria-required="true" />
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.NewPassword" class="form-label"></label>
                                    <div class="form-group">
                                        <input asp-for="Input.NewPassword" class="form-control input-default" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                    <div class="form-group">
                                        <input asp-for="Input.ConfirmPassword" class="form-control input-default" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Changer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
