@model List<MyWorkManagerSN.Model.User>

 @{
    ViewData["Title"] = "Liste des utilisatuers";
    
}

<div class="content-body" style="margin:auto; padding:0 5% 0 5%">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Roles</a></li>
            </ol>
        </div>
    </div>
    <h2>Tous les utilisateurs</h2>

    <div class="">
        <div class="row">
           
            <div class="input-group-prepend col-md-7">

            </div>
            <input id="serachInput" type="search" class="form-control col-md-2 " placeholder="Recherche" aria-label="Search Dashboard">

        </div>

        <div style="margin-top: 2%;" class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped verticle-middle dataTableConfig">
                        <thead>
                            <tr>
                                <th scope="col">Nom Complet</th>
                                <th scope="col">Email</th>
                                <th scope="col">Version d'essaie</th>
                                <th scope="col">Date fin essaie</th>
                                <th scope="col">Date fin abonnement</th>
                                <th scope="col">Périodicité</th>



                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.Username</td>

                                    <td>@user.Email</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>





    </div>
    <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Ajouter un role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="roleForm">
                    <div class="modal-body">
                    
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Nom</label>
                                <input type="text" class="form-control input-default" id="oName" placeholder="Nom" required>
                            </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" id="editModelSubmit" class="btn btn-info">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $(".action").click(function () {
   
            $("#exampleModals").modal();

        });
        $("#roleForm").submit(function (event) {
            
            event.preventDefault()
            console.log("iii")
            if (document.getElementById('roleForm').checkValidity()) {
                var oName = $("#oName").val();
               
                    $.post("/Role/CretaeRole", { name: oName }, function (res) {
                        console.log(res)
                        if (res.success) {
                            toastSuccess("Succès", res._acts.title);
                            location.reload();
                        } else {
                            console.log(res)
                            toastError("Erreur", res._acts.title)
                        }

                    })
                
                $("#exampleModals").modal("hide");

            }
            
            
        });
       

    });
</script>